//BREAKPOINTS
$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1440px;

// COLORS
$color-peach: hsl(11, 73%, 66%);
$color-black: hsl(270, 3%, 11%);
$color-white: hsl(0, 0%, 100%);
$color-light-peach: hsl(11, 100%, 80%);
$color-lighter-peach: hsl(14, 76%, 97%);
$color-dark-grey: hsl(264, 5%, 20%);
$color-light-grey: hsl(210, 17%, 95%);
